.fa-fw {width: 2em;}
.body-container{
	margin-top: 50px;
}
.admin-content > p{
	color: black;
}
span.username{
	font-weight: bold;
}
.seprate{
	border-top: 1px solid grey;
}
.location-select,.product-select{
	width: 196px;
}
.select2-search input { color: black; }

